.director-card {
  position: relative;
  perspective: 1000px;
}

.director-card-inner {
  width: 100%;
  height: 100%;
  position: relative;
}

.director-card-front,
.director-card-back {
  background-color: #012F34;
  width: 21.875rem;
  height: 15.8125rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  transition: opacity 0.4s ease-in-out, visibility 0.4s ease-in-out;
}

.director-card-image {
  width: 6rem;
  height: 6rem;
  border-radius: 6rem;
  border: 2px solid #c4fffe;
  margin-top: 2rem;
}

.director-card-name {
  margin-top: 1rem;
  height: 1.75rem;
  color: #79c8c7;
  font-family: Livvic;
  font-size: 1.125rem;
  font-weight: 700;
}

.director-card-position {
  color: #fff;
  height: 1.5625rem;
  font-family: Livvic;
  font-size: 0.9375rem;
  font-style: italic;
  font-weight: 500;
}

.button-plus {
  margin-top: 1.75rem;
}

.plus-button {
  width: 3.5rem;
  height: 3.5rem;
  background: url(../img/button-plus.svg);
  transition: background 0.3s ease-in-out;
  position: absolute;
  top: 14rem;
  cursor: pointer;
}

.plus-button:hover {
  background: url(../img/button-plus-active.svg);
}

.back-card-name {
  margin-top: 2.19rem;
}

.director-card-quote {
  color: #fff;
  font-family: Livvic;
  font-size: 0.9375rem;
  font-weight: 600;
  margin-top: 0.5rem;
  width: 15.875rem;
}

.card-icon-container {
  display: flex;
  flex-direction: row;
  gap: 0.75rem;
  padding-top: 1.75rem;
}

.card-icon {
  height: 1.25rem;
  width: 1.5rem;
}

.button-x {
  width: 3.5rem;
  height: 3.5rem;
  background: url(../img/button-x.svg);
  transition: background 0.3s ease-in-out;
  position: absolute;
  top: 14rem;
  cursor: pointer;
}

.button-x:hover {
  background: url(../img/button-x-active.svg);
}

.director-card-back {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  background-color: #012f34;
  top: 0;
}

/* Užtikriname, kad kiekviena kortelė turi savo checkbox */
.director-card input.flip-checkbox {
  display: none;
}

/* Čia naudojame gretimą atranką (~), kad veiktų tik konkrečioje kortelėje */
.director-card input.flip-checkbox:checked ~ .director-card-inner .director-card-front {
  opacity: 0;
  visibility: hidden;
}

.director-card input.flip-checkbox:checked ~ .director-card-inner .director-card-back {
  opacity: 1;
  visibility: visible;
}

.nikita-card {
  padding-top: 4rem;
}
