@import url(./colors.css);
@import url(./buttons.css);
@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Livvic:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Contact table*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px #014E56 inset !important;
    -webkit-text-fill-color: white !important;
    -webkit-text-stroke-color: #fff;
}
.cnttbl{
  padding-bottom: 3rem;
  background-color: #014E56;
  background-image: url(../img/contact_right.png), url(../img/contact_left.png); 
  background-repeat: no-repeat, no-repeat;
  background-position: right bottom, left 15%;
  display:flex;
  font-family: "Livvic";
  color:white;
}
/*contact table text*/
.cnttxt{
  display: flex;
  flex-wrap: wrap;
  width: 33.75rem;
  border: none;
  border-bottom: 1px solid white;
  background-color: transparent;
  outline: none;
  padding-top: 0.5rem;
  padding-bottom: 1rem;
  color: white;
  font-size: 1.25rem;
  font-family: "Livvic";
  font-weight: bold;
}
.cnttxt::placeholder{
  color: white;
  opacity: 0.6;
  font-weight: normal;
}
.cnttxt:hover{
  border-bottom: 0.063rem solid #79C8C7 ;
  outline: none;
}
/*.cnttxt:invalid{
  border-bottom: 0.063rem solid #F67E7E;
  color: #F67E7E;
  outline: none;
}*/
.cntmsg{
  margin-bottom: 2rem;
  padding-bottom: 6rem;;
}
.badinfo{
  visibility: hidden;
  color: #F67E7E;
}
.cnttxt:not(:focus):invalid ~ .badinfo{
  visibility: visible;
}
.cnttxt:not(:focus){
  border-bottom: 0.063rem solid white;
  color: white;
  outline: none;
}
.cnttxt:invalid:placeholder-shown ~ .badinfo{
  visibility: hidden;
}


.cnttxt:not(:focus):invalid{
  border-bottom: 0.063rem solid #F67E7E;
  color: #F67E7E;
  outline: none;
}
.cnttxt:not(:focus):placeholder-shown{
  border-bottom: 0.063rem solid white;
  color: white;
  outline: none;
}
.cntsubmmit:-moz-submit-invalid ~ .badinfo{
  visibility: visible;
}
/*Left side of contact table */
.cntsegment1{
  flex:auto;
  padding-left: 8rem;
  width: 6.25rem;
  margin-bottom: 0;
}
/*Right side of contact table*/
.cntsegment2{
  flex:auto;
  padding-top: 4rem;
  padding-bottom: 4rem; 
  width: 6.25rem;

}
/* "Contact" header */
.cnth1{
  margin-top: 4rem;
  margin-bottom: 0;
  font-size: 4rem;
  font-weight: 700;
}
/* "Ask us about" header*/
.cnth2{
  color: #F67E7E;
  font-size: 2.667rem;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 1rem;
  padding-bottom: 2rem;
}
/* Header position*/
.cnth1 ,.cnth2{
  padding-left: 2.5rem
}
/* Contact table list*/
.cntul{
  font-size: 1.3rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: baseline;
  list-style: none;
  padding-left: 2rem;
}
.cntul> :nth-child(1){
  background-image:url(../img/icon-person.svg);
  background-position: left;
  background-repeat: no-repeat;
  padding: 1.563rem 1.563rem 1.563rem 6.25rem;
 
}
.cntul> :nth-child(2){
  background-image: url(../img/icon-cog.svg) ;
  background-position: left;
  background-repeat: no-repeat;
  padding: 1.563rem 1.563rem 1.563rem 6.25rem;
}
.cntul> :nth-child(3){
  background-image: url(../img/icon-chart.svg);
  background-position: left;
  background-repeat: no-repeat;
  padding: 1.563rem 1.563rem 1.563rem 6.25rem;
}
/* Contact table button*/
.cntbtn{
  width: 9.5625rem;
  height: 3rem;
  flex-shrink: 0;
  border-radius: 1.5rem;
  border: 2px solid;
  font-family: Livvic;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.75rem;
  background-color: white;
  color: #002529;
}
.cntbtn:hover{
  background-color: #79C8C7 ;
}

@media only screen and (max-width: 1439px){
  .cnttbl{
    flex-direction: column;
    align-items: center;
  }

  .cntsegment1{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50rem;
    padding: 0;
  }
  .cntsegment2{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50rem;
  }
  
  .cnth1{
    justify-content: center;
  }
/* "Ask us about" header*/
  .cnth2{
    align-items: center;
  }
  
}

@media only screen and (max-width: 767px){
  .cnttbl{
    background-image: url(../img/contact_right.png); 
    background-repeat: no-repeat;
    background-position: right 110%;
  }

  .cntsegment1{
    width: 26.438rem;
    
  }
  .cntsegment2{
    width: 26.438rem;
  }
  .cntul{
    word-wrap: break-word;
    width: 25rem;
  }

}
/* Contact Table End*/
/* footer */

footer {
  background-color: #002529;
  height: 12.25rem;
}

.container-position {
  display: grid;
  grid-template-columns: auto auto auto;
}

.button-position {
  padding-top: 1.4rem;
  padding-bottom: 3.44rem;
  padding-left: 10.31rem;
  display: flex;
  flex-wrap: nowrap;
  gap: 2.6rem;
}

.home-button, .about-button {
  text-decoration: none;
  color: #fff;
  font-family: Livvic;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.75rem;
}

.home-button:hover {
  color: #f67e7e;
}

.about-button:hover {
  color: #f67e7e;
}

.my-team {
  width: 10rem;
  margin-top: 3rem;
  margin-left: 10.31rem;
}

.address {
  width: 27.8125rem;
  height: 6.25rem; 
  padding-left: 5.29rem;
  padding-top: 3rem;
  margin: 0;
  color: #fff;
  font-family: Livvic;
  font-size: 0.9375rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5625rem;
  opacity: 0.6;
}

.footer-address-numbers {
  margin-right: 0.19rem;
}

.social-icon {
  display: flex;
  justify-content: right;
  height: 1.5rem;
  padding-left: 17.25rem;
  padding-right: 10.31rem;
  padding-top: 3.1rem;
  gap: 1rem;
  position: relative;
  z-index: 10;
}

.copyright {
  color: #fff;
  text-align: right;
  font-family: Livvic;
  font-size: 0.9375rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5625rem;
  opacity: 0.6;
  padding-top: 4.55rem;
  padding-right: 10.31rem;
  letter-spacing: 0.01rem;
}

svg {
  fill: #fff;
}

svg:hover {
  fill: #f67e7e;
}

/* footer adjustment */

@media only screen and (max-width: 1439px) {
  /*tablet*/
  .container-position {
    display: grid;
    grid-template-columns: 15rem auto;
  }

  footer {
    height: 16.9375rem;
    position: relative;
  }
  .my-team {
    width: 6rem;
    height: 1.5rem;
    margin-top: 3.5rem;
    margin-left: 2.45rem;
  }
  .home-button,
  .about-button {
    font-size: 0.9375rem;
    line-height: 1.5625rem;
  }
  .button-position {
    padding-top: 3.106rem;
    padding-left: 2.46rem;
    width: 9.6875rem;
    gap: 1.56rem;
    padding-bottom: 0rem;
  }
  .social-icon {
    justify-content: left;
    padding-left: 2.41rem;
    padding-top: 2.08rem;
    padding-right: 0rem;
    padding-bottom: 0rem;
  }
  .address {
    text-align: right;
    width: 20rem;
    padding-top: 3.49rem;
    padding-right: 2.56rem;
  }
  .footer-address-numbers {
    margin-right: 0.25rem;
  }
  .copyright {
    padding-top: 0rem;
    padding-right: 2.5rem;
  }
  .address-box {
    text-align: -webkit-right;
  }
  .copyright-box {
    position: absolute;
    bottom: 3.5rem;
    right: 0rem;
  }
}

@media only screen and (max-width: 767px) {
  /*Mobile*/
  .container-position {
    grid-template-columns: auto;
  }
  footer {
    height: 27rem;
  }
  .mobile-my-team-alignment {
    text-align-last: center;
  }
  .my-team {
    margin-top: 4.1rem;
    margin-left: 0rem;
  }
  .button-position {
    text-align: center;
    padding-left: 0rem;
    padding-top: 1.29rem;
    width: auto;
    justify-content: center;
  }
  .address-box {
    align-content: center;
    padding-right: 0rem;
  }
  .address {
    padding-top: 1.45rem;
    padding-left: 0rem;
    padding-right: 0rem;
    width: auto;
    text-align: -webkit-center;
    }
  .social-icon {
   padding-left: 0rem;
   padding-right: 0rem;
   justify-content: center;
   padding-top: 4.05rem;
  }
  .copyright {
   padding-right: 0rem;
   text-align: -webkit-center;
   padding-top: 2.457rem;
   position: unset;
  }
  }