/* Build and manage section CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.build-section {
  width: 90rem;
  height: 42.8rem;
  background: #012f34;
  padding: 8.75rem 10.3rem;
  position: relative;
  overflow: hidden;
}

.build-container {
  width: 69.375rem;
  height: 25.25rem;
  display: flex;
  flex-direction: row;
}

.build-left-red-line {
  background: #f67e7e;
  width: 3.125rem;
  height: 0.25rem;
  margin-bottom: 3.62rem;
}

.build-left-title {
  width: 27.8125rem;
}

.build-left-title > h1 {
  color: #fff;
  font-family: "Livvic";
  font-size: 3rem;
  font-style: normal;
  font-weight: 700;
  line-height: 3rem;
}

.build-right-side {
  padding-top: 3.62rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.build-right-advance-box {
  width: 33.75rem;
  height: 5.875rem;
  display: flex;
  flex-direction: row;
  gap: 1.44rem;
}

.build-right-svg {
  width: 4.5rem;
  height: 4.5rem;
}
.build-right-info {
  display: flex;
  width: 27.8125rem;
  height: 5.875rem;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
}

.build-right-p-title {
  color: #f67e7e;
  font-family: "Livvic";
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.75rem;
}

.build-right-p-info {
  color: #fff;
  font-family: "Livvic";
  font-size: 0.9375rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.5625rem;
  opacity: 0.8;
}

.bg-element-svg-img {
  position: absolute;
  top: 27.5rem;
  left: 83.75rem;
}
